* * {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add body */
body {
    background-color: #0b0b0c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 70px 0 35px;
}

/* Adding logo and adjusting to fit all sizes */
.logo {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 15px;
}

/* Determining the containers*/
.container-input {
    max-width: 480px;
    margin: 14px 0;
}

.container-input span {
    color: #e4dede;
    font-size: 25px;
}

/*Adjusting the slider button for the number of characters*/
.slider {
    margin-top: 8px;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 6px;
    background: #e4dede;
    outline: none;
    opacity: 0.8;
}

/*Adjusting the button with colors in which they are highlighted*/
.button-cta {
    padding: 10px 15px;
    height: 45px;
    margin-top: 14px;
    background-color: #2ce510;
    border: 0;
    border-radius: 4px;
    color: rgb(11, 11, 11);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    max-width: 480px;
}

/*Where the password appears generated*/
.container-password {
    max-width: 480px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

/*title adjustment*/
.title {
    text-align: center;
    color: #FFF;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

/*Featured password*/
.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: 1px solid #313131;
    transition: transform 0.7s;
}

/*centralized password*/
.password:hover {
    transform: scale(1.05);
    border-color: #FFF;
}

/*adjust hide*/
.hide {
    display: none;
}

/*Determining tooltip layout*/
.tooltip {
    color: #FFF;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 6px;
    background: rgb(15, 15, 15);
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
    text-align: center;
}

/*Determining tooltip layout*/
.container-password:hover .tooltip {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}

/* social media style*/
#ckeck-boxes label {
    color: white;
    display: inline;
    width: auto;
}

/*Adding organization to checkboxes*/
#ckeck-boxes .check {
    display: inline;
    width: auto;
}

/*facilitating checkbox*/
#ckeck-boxes {
    display: inline-block;
    width: auto;
}

/*Adjusting the best area of the generated text*/

textarea {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    height: auto;
    resize: none;
}

/*Leaving the password history aligned*/
#history {
    margin-top: 50px;
    text-align: center;
    margin-left: 35px;

}

.line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    max-width: 486px;
    background-color: #161616;
    margin: 5px auto;
    color: #2CE510;
}

/*Adding and tweaking better layout for history lines*/
.line p {
    font-size: 16px;
}

.line i {
    color: aqua;
}

.line .icon {
    width: 25px;
}

.line .controls {
    display: flex;
    width: 50px;
    gap: 10px;
}

/**Fix Screen work best***/
@media only screen and (max-width: 500px) {}

h1 {
    color: #2CE510;
    margin: 30px 0 10px;
}

h1:first-of-type {
    margin-top: 10px;
}

h1 span {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.indent {
    margin-left: 35px;
}

.columns {
    display: flex;
    column-gap: 15px;
}

/*When an error message appears, set it to red*/
#error,
#error * {
    color: red;
    font-size: 18px;
}