* {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0b0b0c;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 500px;
    margin-bottom: 30px;
}

.container-input {
    max-width: 480px;
    margin: 14px 0;
}

.container-input span {
    color: #e4dede;
    font-size: 25px;
}

.slider {
    margin-top: 8px;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    border-radius: 6px;
    background: #e4dede;
    outline: none;
    opacity: 0.8;
}

.button-cta {
    height: 45px;
    margin-top: 45px;
    background-color: #2ce510;
    border: 0;
    border-radius: 4px;
    color: rgb(11, 11, 11);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.container-password {
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #FFF;
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: 1px solid #313131;
    transition: transform 0.7s;
}

.password:hover {
    transform: scale(1.05);
    border-color: #FFF;
}

.hide {
    display: none;
}

.tooltip {
    color: #FFF;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 6px;
    background: rgb(15, 15, 15);
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out;
    text-align: center;
}

.container-password:hover .tooltip {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
}